In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
dataset = "L_540_2022_C_E"

In [4]:
pd.read_csv("../results/L_540_2022_C_E/lda_dim_reduction/lda/ct_results.csv")

,train_accuracy,test_accuracy,train_f1,test_f1,train_roc_auc,test_roc_auc,fit_time,predict_time,p_value
0,1.0,0.678333,1.0,0.682174,1.0,0.724000,0.237614,0.002216,1.847142e-09
1,1.0,0.700000,1.0,0.706109,1.0,0.740444,0.246742,0.002169,1.616364e-11

In [5]:
pd.read_csv("../results/L_540_2022_C_E/lda_dim_reduction/lda/coefficients.csv")

,-71.83219529067125,-14.746885497044994,17.279371267485836,28.425399217679647,24.001192950631832,9.199018639132898,-10.887697124339487,-31.193178089949765,-62.94067151876999,-68.26507909558585,...,681.0645812172885,-151.30506454625223,-799.2229804237226,-551.6319390786042,-262.56618391249833,5.857072817480065,203.6963850824511,282.8426559703059,188.8226434737908,-97.34660014623697
0,-176.705033,4.681345,101.563529,128.575545,103.44265,43.501637,-33.916161,-110.987562,-164.746051,-160.50046,...,177.809771,-42.603079,-56.62794,-43.303771,-26.370155,-9.968675,2.377961,7.260151,1.555695,-13.160168